* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 background-color: lightblue;
}

html {
  font-size: 100%;
}

body {

  color: #111;
  text-align: center;
  background-color: lightblue;
}

header {
  margin-bottom: 1em;
  margin-top: 1em;
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}
h2 {  
margin-bottom: 1em;
margin-top: 1em;
}


address {
  margin-top: 13em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  
}
